package templates

templ UserProfile() {
    <div>
    <a href="/">back to dashboard</a>
    <h1>Profile</h1>
    </div>
<div>
<div>
<label for="upload" class="hidden">image upload</label>
<input id="upload" name="upload" type="image"/>
<input/>
</div>
    <label>Your username</label>
    <input id="username" type="text" />
    <button>Edit username button</button>
    <p>This is not your username or PIN. This name will be visible to your contacts.</p>
</div>
}
